*{
    margin: 0px;
    padding: 0px;

}
body{
    background-color: #FFFBE9;
}
#header{
    background-color: black;
    text-align: center;
}

h1{
    padding: 18px;
    font-size: 4em;
    color: white;
    

}
.color{
    color: #DC3535;
}


.menu{
    font-size: 2em;
    margin: 10px;
}

a{
    margin: 15px;
    text-decoration: none;
}

a:link{
    background-color: cadetblue;
}
a:visited{
    background-color: black;
    color: white;
}
a:hover{
    background-color: white;
    color: black;

}




/* --------------- layout do conteudo ---------------*/

#conteudo{
    background-color: white;
    color:black;
    width: 920px;
    margin: 0px auto;
}

.text{
    width: 660px;
    background-color: white;
    float: left;
    text-align: center;
}


/* --------------- aba lateral ---------------*/
.aba_lateral{
    width: 240px;
    background-color: black;
    color: white;
    text-align: center;
    float: right;
    padding-bottom: 10px;
}

.postagem{
    padding: 10px;
    background-color: white;
    color: black;
    border-bottom: 1px dotted #ccc;
}

#Rodape{
    clear: both;
    background-color: black;
    text-align: center;
    
}